.header-wrapper {
  display: flex;
  width: 100%;
  height: 80px;
  position: fixed;
  background-color: #285153; }
  .header-wrapper > .logo-header {
    width: 240px;
    display: flex;
    background-color: #f5fcfb;
    color: #285153;
    align-items: center;
    justify-content: center;
    font-size: 35px; }
  .header-wrapper > .nav-wrapper {
    width: 650px;
    display: flex;
    background-color: #285153;
    justify-content: space-between;
    margin: 0 auto; }
    .header-wrapper > .nav-wrapper > section {
      color: #f8fdfc;
      cursor: pointer;
      display: flex;
      align-items: center;
      transition: 1s ease all; }
      .header-wrapper > .nav-wrapper > section:hover {
        color: #55e0c4; }

.banner {
  height: 760px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #ffffff;
  background-color: #2f7062;
  padding: 80px 200px 0 200px;
  text-align: center; }
  .banner > .title {
    font-size: 60px;
    margin-bottom: 40px; }
  .banner > button {
    border: none;
    border-radius: 60px;
    cursor: pointer;
    width: 200px;
    height: 50px;
    color: #ffffff;
    background-color: #55e0c4;
    transition: 0.5s ease all; }
    .banner > button:hover {
      color: #55e0c4;
      background-color: #ffffff; }

.content-wrapper {
  background-color: #bef7df;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 300px; }
  .content-wrapper > .content-wrapper-upper {
    display: flex;
    justify-content: center;
    align-items: center; }
    .content-wrapper > .content-wrapper-upper > img {
      width: 50px; }
    .content-wrapper > .content-wrapper-upper > p {
      width: 75%;
      color: #556c72; }
    .content-wrapper > .content-wrapper-upper > .content-upper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: justify; }
      .content-wrapper > .content-wrapper-upper > .content-upper > span {
        font-size: 30px; }

.article-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding-top: 100px;
  width: 100%;
  height: 600px; }

.article-column {
  flex-basis: 500%;
  width: 35%;
  padding: 0 100px 0 100px; }
  .article-column > span {
    text-align: center;
    color: #55e0c4;
    font: 30px Lucida Calligraphy; }
  .article-column > p {
    text-indent: 3em;
    text-align: justify;
    color: #556c72;
    line-height: 2em; }

.message {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #00c9ff;
  width: 100%;
  height: 350px;
  flex-direction: column; }
  .message > p {
    color: white; }
  .message > button {
    color: white;
    background-color: #4d7dff;
    border: none;
    width: 190px;
    height: 50px;
    margin-bottom: 50px;
    box-shadow: 10px 10px #285153;
    outline: none;
    cursor: pointer; }
    .message > button:hover {
      background-color: steelblue; }
    .message > button:active {
      color: white;
      background-color: #ee2178;
      border: none;
      box-shadow: 5px 5px #285153;
      transform: translateY(4px); }

.footer-style {
  background-color: #285153;
  height: 200px; }

/*Animation of the steps*/
.slides-container {
  width: 100%;
  height: 500px; }

.step_1,
.step_2,
.step_3 {
  display: block;
  position: absolute; }

/*---------------------------------------*/
.go-to-top-btn {
  position: fixed;
  right: 30px;
  bottom: 30px;
  display: none;
  background-color: #55e0c4;
  border-radius: 1000px; }

html,
body {
  min-width: 1300px;
  font-family: Helvetica, sans-serif;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
  color: whitesmoke; }

*,
*:before,
*:after {
  box-sizing: border-box; }

/*# sourceMappingURL=main.css.map */
