@font-face {
  font-family: Raleway;
  src: url("../fonts/Raleway-Regular.ttf"); }
@font-face {
  font-family: RalewayBold;
  src: url("../fonts/Raleway-Bold.ttf"); }
@font-face {
  font-family: RalewayMedium;
  src: url("../fonts/Raleway-Medium.ttf"); }
@font-face {
  font-family: RalewaySemiBold;
  src: url("../fonts/Raleway-SemiBold.ttf"); }
@font-face {
  font-family: OswaldRegular;
  src: url("../fonts/Oswald-Regular.ttf"); }
@font-face {
  font-family: OswaldLight;
  src: url("../fonts/Oswald-Light.ttf"); }
@font-face {
  font-family: OswaldMedium;
  src: url("../fonts/Oswald-Medium.ttf"); }
@keyframes slide-down {
  from {
    top: -100%; }
  to {
    top: 0; } }
@keyframes appear {
  0%, 33% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.connection {
  background-color: red;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -999;
  opacity: 0; }
  .connection.active {
    opacity: 1;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white; }
  .connection > h1 {
    font-size: 70px;
    letter-spacing: -3px;
    color: #4bc3ff;
    margin: 5px 0; }
  .connection > p {
    font-size: 20px;
    width: 900px;
    text-align: center;
    text-indent: 0; }

.nrm-header {
  display: flex;
  width: 100%;
  height: 80px;
  position: fixed;
  background-color: #093e4d;
  font-family: RalewaySemiBold;
  z-index: 100; }
  .nrm-header > .title {
    width: 240px;
    display: flex;
    color: #093e4d;
    background-color: #f5ffff;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
    transition: background-color 1s ease, color 1s ease, width 1s ease; }
    .nrm-header > .title.active {
      background-color: #76cdcd;
      cursor: pointer;
      width: 100%; }
      .nrm-header > .title.active:hover {
        color: #f5ffff;
        background-color: #093e4d; }
  .nrm-header > nav {
    width: 630px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    transition: width 1s ease; }
    .nrm-header > nav > a {
      color: #f8fdfc;
      cursor: pointer;
      display: flex;
      align-items: center;
      text-decoration: none;
      font-size: 15px;
      transition: 0.5s ease all; }
      .nrm-header > nav > a:hover, .nrm-header > nav > a.active {
        color: #0093ff; }
    .nrm-header > nav.disabled {
      width: 0; }

.banner-bg {
  position: absolute;
  background-color: #325A6A;
  top: 80px;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
  height: 680px;
  opacity: 0.5; }

.banner {
  height: 760px;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #ffffff;
  padding: 80px 200px 0 200px; }
  .banner > .title {
    font-family: RalewaySemiBold;
    font-size: 53px;
    font-weight: bold;
    width: 600px;
    height: 160px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 130px; }
  .banner > button {
    border: none;
    border-radius: 60px;
    cursor: pointer;
    width: 200px;
    height: 50px;
    color: #ffffff;
    background-color: #0093ff;
    transition: background-color 0.5s ease, color 0.5s ease;
    animation: appear 2s ease; }
    .banner > button:hover {
      color: #0093ff;
      background-color: #ffffff; }
  .banner > p {
    color: #f5f5f5;
    font-size: 18px; }

.video-bg-container {
  position: fixed;
  top: 80px;
  z-index: -100;
  height: 680px;
  filter: hue-rotate(80deg);
  transition: 1s ease all; }
  .video-bg-container.disabled {
    height: 0;
    opacity: 0; }

.parallax {
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  height: 300px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  font-weight: bold;
  font-family: RalewaySemiBold;
  color: white;
  text-decoration: underline; }
  .parallax.author {
    background-image: url("../../assets/img/parallax1.jpg"); }
  .parallax.process {
    background-image: url("../../assets/img/parallax2.jpg"); }

.slider-nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 100;
  right: 40px;
  height: 100%;
  justify-content: center; }
  .slider-nav > .slider-item {
    margin: 7px 5px;
    border-radius: 50%;
    border: 3px solid #0093ff;
    width: 12px;
    height: 12px;
    cursor: pointer; }
    .slider-nav > .slider-item.active {
      background-color: #0093ff; }
  .slider-nav.disabled {
    opacity: 0; }

.nrm-information {
  background-color: white;
  display: flex;
  padding: 75px 150px 50px 150px;
  justify-content: space-between; }
  .nrm-information > .content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%; }
    .nrm-information > .content-wrapper:hover > img {
      box-shadow: 0 0 black;
      bottom: -9px;
      right: -9px;
      top: 9px;
      left: 9px; }
    .nrm-information > .content-wrapper > img {
      height: 250px;
      border-radius: 50%;
      border: 5px solid #325a6a;
      box-shadow: 1px 1px #1e353e, 3px 3px #1e353e, 5px 5px #1e353e, 7px 7px #1e353e,9px 9px #1e353e;
      position: relative;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transition: 0.5s ease all; }
    .nrm-information > .content-wrapper > .content {
      margin-top: 30px; }
      .nrm-information > .content-wrapper > .content > .content-header {
        text-align: center;
        font-family: RalewaySemiBold;
        font-size: 20px;
        color: #3598bf; }

.nrm-process {
  width: 100%;
  background-color: #f5ffff;
  padding: 50px 100px;
  display: flex;
  justify-content: space-between; }
  .nrm-process > .process-content > section {
    display: flex; }
    .nrm-process > .process-content > section:hover > aside > img {
      box-shadow: 0 0 black;
      bottom: -9px;
      right: -9px;
      top: 9px;
      left: 9px; }
    .nrm-process > .process-content > section > p {
      margin-right: 50px; }
    .nrm-process > .process-content > section > aside {
      display: flex;
      flex-direction: column;
      font-size: 13px; }
      .nrm-process > .process-content > section > aside > img {
        height: 350px;
        margin-bottom: 30px;
        border-radius: 20px;
        border: 1px solid #00596e;
        box-shadow: 1px 1px #484848, 3px 3px #484848, 5px 5px #484848, 7px 7px #484848, 9px 9px #484848;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: 0.5s ease all; }

.nrm-group {
  display: flex;
  background-color: #007393;
  justify-content: space-around;
  box-shadow: 0 0 2px 3px rgba(0, 0, 0, 0.2);
  padding: 5px 0 10px 0;
  flex-wrap: wrap; }
  .nrm-group > .member {
    position: relative; }
    .nrm-group > .member:hover > img {
      filter: blur(0px) grayscale(50%) brightness(120%) contrast(125%);
      box-shadow: 0 0 black;
      bottom: -9px;
      right: -9px;
      top: 9px;
      left: 9px; }
    .nrm-group > .member:hover > div {
      opacity: 0; }
    .nrm-group > .member > img {
      height: 250px;
      flex-basis: 215px;
      box-shadow: 1px 1px #202020, 3px 3px #202020, 5px 5px #202020, 7px 7px #202020, 9px 9px #202020;
      filter: blur(1.5px) grayscale(100%) brightness(100%) contrast(75%);
      border-radius: 5px;
      background-color: turquoise;
      position: relative;
      overflow: hidden;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transition: 0.5s ease all; }
    .nrm-group > .member > div {
      color: white;
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 180px;
      text-align: center;
      width: 100%;
      justify-content: center;
      line-height: 23px;
      transition: 0.5s ease all; }
      .nrm-group > .member > div > span:first-child {
        font-size: 23px; }
      .nrm-group > .member > div > span:last-child {
        font-size: 13px; }
  .nrm-group > .title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    font-weight: bold;
    font-family: RalewaySemiBold;
    color: white;
    text-decoration: underline;
    margin-top: 30px; }

.nrm-footer {
  background-color: #007393;
  display: flex;
  flex-direction: column;
  color: #ebebeb;
  padding: 35px 300px;
  align-items: center; }

.button3d {
  position: relative;
  border-radius: 3px;
  background-color: #0093ff;
  box-shadow: 1px 1px #2d5f8a, 3px 3px #2d5f8a, 5px 5px #2d5f8a, 7px 7px #2d5f8a, 9px 9px #2d5f8a;
  margin: 15px;
  border: none;
  width: 200px;
  padding: 10px;
  color: #f0f0f0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.5s ease all;
  cursor: pointer; }
  .button3d:hover {
    box-shadow: 0 0 black;
    bottom: -9px;
    right: -9px;
    top: 9px;
    left: 9px;
    background-color: #d4004b; }

#container {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh;
  transition: height 1s ease; }
  #container.disabled {
    overflow: hidden;
    height: 0; }

#equationTex {
  min-height: 85px;
  width: 100%;
  font-size: 25px;
  overflow-x: auto;
  display: flex;
  justify-content: center; }

.computation {
  background-color: white;
  margin-top: 0;
  height: 0;
  overflow: scroll;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  transition: 1s ease all; }
  .computation.active {
    height: 90vh;
    margin-top: 80px; }
  .computation > .input-area-wrapper {
    display: flex;
    width: 100%;
    flex-direction: column; }
    .computation > .input-area-wrapper > section {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center; }
      .computation > .input-area-wrapper > section.input-text {
        padding: 0 30px; }
        .computation > .input-area-wrapper > section.input-text > input {
          padding: 7.5px;
          border-radius: 3px;
          border: 1px solid #999;
          background-color: #fdfdfd;
          margin-top: 15px;
          position: relative;
          margin-right: 10px; }
          .computation > .input-area-wrapper > section.input-text > input:first-child {
            width: 670px; }
          .computation > .input-area-wrapper > section.input-text > input:nth-child(2) {
            width: 150px; }
        .computation > .input-area-wrapper > section.input-text > button {
          margin: 0; }

.table-row {
  display: flex;
  padding: 10px;
  font-family: Arial;
  border-bottom: 1px solid #b9b9b9; }
  .table-row > section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 19%; }
    .table-row > section:first-child {
      width: 5%; }

p {
  line-height: 1.5em;
  text-indent: 65px;
  text-align: justify; }

html,
body {
  min-width: 1300px;
  font-family: Raleway, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: #605E5E;
  height: 100vh;
  overflow: hidden; }

*,
*:before,
*:after {
  box-sizing: border-box; }

/*# sourceMappingURL=main.css.map */
